body{
	width: 50%;
	margin:auto;
}

#employee{
	/*display: inline;*/
	/*width: 200px;*/
	margin: 0px;
}

#calc p{


}

li {
	list-style: none;
	text-align: left;

}

.danger {
	color:red;

}
fieldset{
	border-radius: 10px;
	background-color: lightgray;
}

legend{
	color: orange;
	text-align: center;
	/*text: bold;*/
}

.form-control {
	width: 150px;
	height: 30px;
	font-size:12px;

}

button {
	padding-bottom: 10px;
	padding-top: 10px;
}
input, label, p, button{
	margin-left:20px;
	margin-bottom:5px;
}